<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Normal Plot</title>
    <meta name="description" content="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    <style type="text/css">
    body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    </style>
</head>

<body>

</body>
    
<script>

//setting up empty data array
var [max1, data1] =betaData(1,999);
var [max2, data2] =betaData(999,1);
var [max3, data3] =betaData(40,800);

console.log(Math.max(data1))

var margin = {
        top: 20,
        right: 20,
        bottom: 30,
        left: 50
    },
    width = 800 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scaleLinear()
    .range([0, width]);

var y = d3.scaleLinear()
    .range([height, 0]);

var xAxis = d3.axisBottom(x);
var yAxis = d3.axisLeft(y);
var line = d3.line()
    .x(function(d) {
        return x(d.q);
    })
    .y(function(d) {

        return y(d.p);
    });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

x.domain(d3.extent(data1, function(d) {
    return d.q;
}));
y.domain(d3.extent([{"p":0},{"p":30}], function(d) {
    return d.p;
}));

svg.append("g")
    .attr("class", "x-axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y-axis")
    .call(yAxis);

var path = svg.append("path")
    .attr("class", "line")
    .attr("id", "A")
    .attr("d", line(data1));


animBeta([data1,data2,data3])

function animBeta(dataset) {
    // Takes in array of data 
    for(i=1; i< dataset.length; i++) {

        var path = d3.selectAll(".line").transition()
            .delay(i*500)
            .duration(500)
            .attr("class", "line")
            .attr("id", "A")
            .attr("d", line(dataset[i]));

    }
}

function lnBetaFunc(x,y) {

    foo = 0.0;

    for (i=0; i<x-2; i++) {
        foo += Math.log(x-1-i);
    }
    for (i=0; i<y-2; i++) {
        foo += Math.log(y-1-i);
    }
    for (i=0; i<x+y-2; i++) {
        foo -= Math.log(x+y-1-i);
    }
    return foo
}

function betaFunc(x,y) {

    return Math.exp(lnBetaFunc(x,y));
}

function lnBetaPDF(x, a, b) {

    return ((a-1)*Math.log(x) + (b-1)*Math.log(1-x)) - lnBetaFunc(a,b)
}

function betaPDF(x, a, b) {
    return Math.exp(lnBetaPDF(x, a, b))
}


function betaData(a, b) {
    data = []
    max = 0.0;
    for (var i = 0; i < 500; i++) {
        p = betaPDF(i/500, a, b);
        el = {
            "q": i/500,
            "p": p
        };
        if (p >= max) {
            max = p;
        }
        data.push(el);
    };

    return [max, data]
}


</script>

</html>