{% extends 'abtest/base.html' %}
{% block header %}
<header style="padding:0">
    <h1>Bayesian A/B Test Simulator</h1>
    <hr>
</header>
{% endblock %}
{% block content %}
<h2>Beta Posterior Probability Distribution of Variants</h2>

<div class="center" id="canvas"></div>
<div class="center" id="legend"></div>
<div class="center">
    <input id="rangeSlider" class="slider" type="range" min="1" max="10" value="1">
</div>
<div class="center">
    <span class="math">\mu_A</span><input id="mu-A" class="rate-field" type="number" min="0.01" max="0.99" step="0.01" value="0.30">
    <span class="math">\mu_B</span><input id="mu-B" class="rate-field" type="number" min="0.01" max="0.99" step="0.01" value="0.65">
    <span class="math">\mu_C</span><input id="mu-C" class="rate-field" type="number" min="0.01" max="0.99" step="0.01" value="0.75">
</div>
<div class="center">
    <select id="algorithm" class="algo-select">
        <option value="thompson">Thompson Sampling</option>
        <option value="egreedy">Epsilon-Greedy, eps=0.1</option>
        <option value="uniform">Uniform</option>
        <option value="UCB1">UCB1</option>
    </select>
</div>
<div class="center">
    <button class="simulate-button">Simulate</button>
</div>
<div class="center">
    <table id="results-table">
        <tr>
        <td colspan="7" class="td-title" id="results-title">
            Summary of Results &nbsp;
        </td>
        </tr>
        <tr>
            <td></td>
            <td><span class="math">n</span></td>
            <td><span class="math">\alpha</span></td>
            <td><span class="math">\beta</span></td>
            <td>Conversions</td>
            <td>Impressions</td>
            <td>Conversion Rate</td>
        </tr>
        <tr id="table-row-A">
            <td>A</td>
            <td id="n-cell-A"></td>
            <td id="alpha-cell-A"></td>
            <td id="beta-cell-A"></td>
            <td id="conversions-cell-A"></td>
            <td id="impressions-cell-A"></td>
            <td id="conversion-rate-cell-A"></td>
        </tr>
        <tr id="table-row-B">
            <td>B</td>
            <td id="n-cell-B"></td>
            <td id="alpha-cell-B"></td>
            <td id="beta-cell-B"></td>
            <td id="conversions-cell-B"></td>
            <td id="impressions-cell-B"></td>
            <td id="conversion-rate-cell-B"></td>
        </tr>
        <tr id="table-row-C">
            <td>C</td>
            <td id="n-cell-C"></td>
            <td id="alpha-cell-C"></td>
            <td id="beta-cell-C"></td>
            <td id="conversions-cell-C"></td>
            <td id="impressions-cell-C"></td>
            <td id="conversion-rate-cell-C"></td>
        </tr>
    </table>
</div>

{{ dataset|json_script:"dataset"|safe }}
<script>
var dataset = JSON.parse(JSON.parse(document.getElementById('dataset').textContent));
var margin = {
        top: 10,
        right: 20,
        bottom: 30,
        left: 25
    },
width = document.getElementById("canvas").offsetWidth*0.85 - margin.left - margin.right,
height = 300 - margin.top - margin.bottom;
var x = d3.scaleLinear().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);
var xAxis = d3.axisBottom(x);
var yAxis = d3.axisLeft(y).tickSizeOuter(3);
var line = d3.line()
    .x(function(d) {
        return x(d[0]);
    })
    .y(function(d) {

        return y(d[1]);
    });

var svg = d3.select("#canvas").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

x.domain(d3.extent(dataset[0].x_vals, function(d) {
    return d;
}));
y.domain([0, dataset[4].max_y]);
svg.append("g")
    .attr("class", "x-axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y-axis")
    .call(yAxis);

svg.append("text")
    .attr("id", "N")
    .attr("y", 5)
    .attr("x", 0.85*width)
    .style("font-size", "1.2rem")
    .attr('text-anchor', 'middle')
    .text("N=");

var color = [
    '#5E81AC',
    '#BF616A',
    '#A3BE8C',
    '#B48EAD',
    '#8FBCBB',
]

svg.append("path")
    .attr("class", "line")
    .attr("id", "A")
    .attr("d", line(dataset[4].xy_A))
    .style("stroke", color[0])

svg.append("path")
    .attr("class", "line")
    .attr("id", "B")
    .attr("d", line(dataset[4].xy_B))   
    .style("stroke", color[1])

svg.append("path")
    .attr("class", "line")
    .attr("id", "C")
    .attr("d", line(dataset[4].xy_C))
    .style("stroke", color[2])

legend = document.getElementById('legend');
legend.innerHTML += '<div><span class="emdash" style="color:'+color[0]+'">&#8213;&nbsp;</span>Variant A&nbsp;&nbsp;</div>';
legend.innerHTML += '<div><span class="emdash" style="color:'+color[1]+'">&#8213;&nbsp;</span>Variant B&nbsp;&nbsp;</div>';
legend.innerHTML += '<div><span class="emdash" style="color:'+color[2]+'">&#8213;&nbsp;</span>Variant C&nbsp;&nbsp;</div>';

document.getElementById("rangeSlider").addEventListener("change", function(){
    this.disabled=true;
    updatePosterior(dataset[this.value-1]);
    this.disabled = false;
});

document.getElementsByClassName("simulate-button")[0].addEventListener("click", function(){
    this.disabled=true;
    runSimulation();
});

document.getElementById("rangeSlider").value = 5; //Initial slider value
document.getElementById("N").innerHTML= "N=" + dataset[4].N //Simulation sample size
updateResults(dataset[4]);

// Configure input fields for true conversion rates
var rateFields = document.getElementsByClassName('rate-field');
for (i=0; i<rateFields.length; i++) {
    rateFields[i].oninput = function () {

        // Ensure field input <= 0.99
        var max = parseInt(this.max);
        if (parseInt(this.value) > max) {
            this.value = this.value/10;
        }
        // Limit decimal places
        if (this.value.length > 4) {
            var val= this.value;
            this.value = parseFloat(val).toFixed(2);
        }
    }
}
function updatePosterior(data) {

    var line = d3.line()
        .x(function(d) {
            return x(d[0]);
        })
        .y(function(d) {

            return y(d[1]);
        });

    var y = d3.scaleLinear()
        .range([height, 0]);
    y.domain([0, data.max_y]);
    var yAxis = d3.axisLeft(y).tickSizeOuter(3);
    var y_axis = d3.selectAll('.y-axis')
        .transition()
        .duration(100)
        .attr("class", "y-axis")
        .call(yAxis);

    var path_A = d3.selectAll("#A")
        .transition()
        .duration(500)
        .attr("class", "line")
        .attr("id", "A")
        .attr("d", line(data.xy_A));

    var path_B = d3.selectAll("#B")
        .transition()
        .duration(500)
        .attr("class", "line")
        .attr("id", "B")
        .attr("d", line(data.xy_B));
    
    var path_C = d3.selectAll("#C")
        .transition()
        .duration(500)
        .attr("class", "line")
        .attr("id", "C")
        .attr("d", line(data.xy_C));

    // Update Simulation sample size
    document.getElementById("N").innerHTML= "N=" + data.N;

    // Update results table
    updateResults(data);
}

function updateResults(data) {
    // Update Summary Results Table
    var resultsTable = document.getElementById("results-table");
    var variants = ["A", "B", "C"];
    for (i=0; i < variants.length; i++) {
        var variant = variants[i];
        var variantData = data[variant];
        var resultsTitle = document.getElementById("results-title");
        var n = document.getElementById("n-cell-"+ variant);
        var alpha = document.getElementById("alpha-cell-"+ variant);
        var beta = document.getElementById("beta-cell-"+ variant);
        var conversions = document.getElementById("conversions-cell-"+ variant);
        var impressions = document.getElementById("impressions-cell-"+ variant);
        var rate = document.getElementById("conversion-rate-cell-"+ variant);
        n.innerText = data[variant].a + data[variant].b -2;
        alpha.innerText = data[variant].a;
        beta.innerText = data[variant].b;
        conversions.innerText = data[variant].a -1;
        impressions.innerText = data[variant].a + data[variant].b -2;
        rate.innerText = (parseInt(conversions.innerText) / parseInt(impressions.innerText)).toFixed(2);
        if (rate.innerText === "NaN") {
            rate.innerText = "-";
        }
        resultsTitle.innerText = "Summary of Results " + document.getElementById("N").innerHTML;
    }   
}

function getCookie (name) {
  var value = '; ' + document.cookie
  var parts = value.split('; ' + name + '=')
  if (parts.length === 2) {
    return parts
      .pop()
      .split(';')
      .shift()
  }
}
function runSimulation() {

  p1 = document.getElementById("mu-A");
  p2 = document.getElementById("mu-B");
  p3 = document.getElementById("mu-C");

  if (p1.value === "") {
    p1.value = Math.random().toFixed(2);
  }
  if (p2.value === "") {
    p2.value = Math.random().toFixed(2);
  }
  if (p3.value === "") {
    p3.value = Math.random().toFixed(2);
  }

  algo = document.getElementById("algorithm").value;

  console.log(p1,p2,p3,algo);

  var xhttp = new XMLHttpRequest()
  xhttp.onreadystatechange = function () {
    if (this.readyState === 4 && this.status === 200) {
      dataset = JSON.parse(this.response)
      updatePosterior(dataset[4]);
      document.getElementById("rangeSlider").value="4";
      document.getElementsByClassName("simulate-button")[0].disabled = false;

    }
  }
  xhttp.open('POST', '/api/experiment/simulation', true)
  xhttp.setRequestHeader('Content-Type', 'application/json')
  xhttp.setRequestHeader('X-CSRFToken', getCookie('csrftoken'))
  xhttp.send(
    JSON.stringify({
        p1:p1.value,
        p2:p2.value,
        p3:p3.value,
        algo:algo,
    })
  )
}
// runSimulation(p1=0.5,p2=0.5,p3=0.66, algo='uniform')
</script>

{% endblock %}